@import 'src/styles/master';

.cookieConsent {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  @include padding(4);
  background-color: $alphaBlack90;
  z-index: 100;

  .body {
    max-width: $contentWidth;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: space(4);
    flex-wrap: wrap;
    justify-content: center;

    .info {
      flex-basis: 100%;
      @include typoS;
    }
  }
}

@media only screen and (min-width: $bpSmallHigh) {
  .cookieConsent {
    background-color: $alphaBlack50;

    .body {
      flex-wrap: nowrap;
    }
  }
}
